::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c2c1c1;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
  }